{% extends 'general/base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block title %}
Товары
{% endblock %}

{% block h %}
Товары
{% endblock %}

{% block content %}
    <div class="container my-4">

      {% if user.is_admin or user.is_manager %}
         <a class="btn attention" href="{% url 'order_list' %}">Заказы</a>
      {% endif %}

      {% if user.is_admin %}
        <a id="create-product" class="btn attention" href="{% url 'product_create' %}">Добавить товар</a>
      {% endif %}

      {% if user.is_admin or user.is_manager %}
        <div class="container my-4">
          <table>
            <form id="search-sort-filter">
              {% csrf_token %}
              {{ form.as_table }}
            </form>
          </table>
        </div>
      {% endif %}
    </div>

    {% for object in object_list %}
        {% include 'objects/three_columns.html' %}
    {% endfor %}
{% endblock %}
