{% load static %}
{% load bootstrap_icons %}

{% comment %}
PREP См. комментарий к two_columns.html.

Ипользование:

{% include 'objects/three_columns.html' %}

{% endcomment %}

<div style="grid-template-columns: 1fr 3fr 1fr;" class="d-grid mb-3 mt-3 {% if not user.is_superuser %}pb-3{% endif %} gap-3 position-relative attention-border {% if object.discount > 15 %}great-discount{% elif object.stock == 0 %}out-of-stock{% endif %}">
    <div class="p-2 ms-3 mt-3 attention-border d-flex justify-content-center align-items-center">
        <img src="{{ object.photo.url }}" class="article-img" alt="img">
    </div>
    <div class="p-2 mt-3 attention-border">
        <p class="fw-bold">{{ object.product_category }} | {{ object.product_name }}</p>
        <p>Описание товара: {{ object.description }}</p>
        <p>Производитель: {{ object.manufacturer.manufacturer_name }}</p>
        <p>Поставщик: {{ object.supplier.supplier_name }}</p>
        <p>Цена: {{ object.price }}</p>
        <p>Единица измерения: {{ object.unit_of_measurement }}</p>
        <p>Количество на складе: {{ object.stock }}</p>
        <p>Id: {{ object.pk }}</p>
    </div>
    <div class="p-2 me-3 mt-3 attention-border position-relative text-center">
        <p>Действующая скидка</p>
        <p>{{ object.discount }} %</p>

        {% if user.is_superuser %}
            <a class="btn del-button position-absolute z-3" href="{% url 'product_delete' object.pk %}">{% bs_icon 'trash' %}</a>
        {% endif %}
    </div>
    {% if user.is_superuser %}
        <a href="{% url 'product_update' object.pk %}" class="stretched-link"></a>
    {% endif %}
</div>
